<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
    <div th:replace="fragments/head :: head"></div>
    <body>
        <div> 
            <form th:action="@{/autor/modificar/__${autor.id}__}" method="POST">

                <input hidden th:value="${id}" name="id">
                <div>
                    <label for="nombreautor">Nombre autor:</label>
                    <input th:value="${autor.nombre}" type="text" name="nombreautor">
                </div>
                <br>
                <br>
                <button type="submit">Actualizar</button>
            </form>
        </div>
    </body>
</html>
