<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <div th:replace="fragments/head :: head"></div>
    <body>
        <div>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Isbn</th>
                        <th scope="col">Título</th>
                        <th scope="col">Ejemplares</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Editorial</th>
                        <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="libro : ${libros}">
                    <tr>
                        <th scope="row" th:text="${libro.isbn}"></th>
                        <td th:text="${libro.titulo}"></td>
                        <td th:text="${libro.cantidEjemplares}"></td>
                        <td th:text="${libro.autor.nombre}"></td>
                        <td th:text="${libro.edito.nombre}"></td>
                        <td>
                            <a sec:authorize="hasRole('ADMIN')" th:href="@{/libro/modificar/__${libro.isbn}__}"> <i class="fas fa-feather-alt"></i> Modificar </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <a href="/inicio">Volver</a>
        </div>
    </body>
</html>
