<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:replace="fragments/head :: head"></div>
    <body>
        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error!</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
        <div>
            <form th:action="@{/perfil/__${usuario.id}__}" method="POST" enctype="multipart/form-data">
                <div>
                    <h3>EDITAR USUARIO</h3>
                </div>
                <input hidden th:value="${id}" name="id">
                <br>
                <div>
                    <label for="nombre">Nombre usuario:</label>
                    <input type="text" name="nombre" th:value="${nombre}">
                </div>
                <br>
                <div>
                    <label for="email">Email:</label>
                    <input type="email" name="email" th:value="${email}">
                </div>
                <br>
                <div>
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" th:value="${password}">
                </div>
                <br>
                <div>
                    <label for="password2">Reingrese contraseña:</label>
                    <input type="password" name="password2">
                </div>
                <br>
                <div>
                    <label for="archivo">Foto del usuario:</label>
                    <input type="file" name="archivo">
                </div>
                <br>
                <button type="submit">Actualizar</button>
            </form>
        </div>
        </div>
        <br>
        <div>
            <a href="/inicio">Volver</a>
        </div>
    </body>
</html>
